@import "helpers/variables";
@import "base/typography";
@import "base/utilities";
@import "plugins/swiper";
@import "layout/nav";
@import "layout/header";
@import "layout/hero";
@import "layout/footer";
@import "layout/preLoader";
@import "layout/scrollToTop";
@import "layout/sidenav";
@import "components/logo";
@import "components/button";
@import "pages/home";

/* 

font-family: 'Great Vibes', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Work Sans', sans-serif;

*/
