h1 {
    font-size: 5rem;
    @media only screen and (max-width: 600px) {
        font-size: 3.5rem;
    }
}
p {
    font-size: 1.6rem;
    color: $text-grey;
}
.sec-title {
    color: transparent;
    display: inline-block;
    background: linear-gradient(
        to right bottom,
        rgba($light-blue, 1),
        rgba($light-green, 1)
    );
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Oswald", sans-serif;
    transition: all 0.4s;
    margin-bottom: 3rem;
    font-weight: 600;

    /* hover style */
    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    }
}
h5 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    
    font-size: 1.8rem;
}
